<div ng-controller="AdminCtrl">
    <table ng-table="tableParams" border="2" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
        <tr ng-repeat="order in $data">
            <td data-title="'B'"><input type="checkbox" ng-click="bus(order.id)" ng-model="order.checked_in"/></td>
            
            <td data-title="'Last Name'" sortable="'last_name'">{{order.last_name | capitalize}}</td>
            <td data-title="'First Name'" sortable="'first_name'">{{order.first_name | capitalize}}</td>
            <td data-title="'Phone'">{{order.phone}}</td>
            <td data-title="'Location'" sortable="'location'">{{order.location}}</td>
            
            
            <td data-title="'Beginner'">{{order.beginner}}</td>
            <td data-title="'Lift'">{{order.lift}}</td>
            <td data-title="'Rental'">{{order.rental}}</td>
            <td data-title="'T'"><input type="checkbox" ng-click="ticket(order.id)" ng-model="order.ticket_picked"/></td>

            <td data-title="'Rental Type'">{{order.rental_type}}</td>
            <!--td>{{order.helmet}}</td-->
            <!--td data-title="'First Name'">{{order.bus}}</td-->
            
        </tr>
    </table>
</div>