<div ng-controller="PaymentCtrl">
    <md-toolbar md-scroll-shrink>
        <h2 class="md-toolbar-tools">
        <span>{{data.description}}</span>
      </h2>
    </md-toolbar>
    <md-card class="main-card">

        <div class="ticket_left">{{data.ticket_left}} bus tickets left</div>
        <div layout="row" layout="center center">
            <md-text-float label="First Name" ng-model="form.first_name"></md-text-float>
            <md-text-float label="Last Name" ng-model="form.last_name"></md-text-float>
        </div>
        <md-text-float label="Email" ng-model="form.email" type="email"></md-text-float>
        <md-text-float label="Phone" ng-model="form.phone"></md-text-float>

        <!--
        <div class="question">
            <div>Do you need a bus ride? (${{data.bus}})</div>
            <md-radio-group ng-model="form.bus">
                <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                <md-radio-button value="0" aria-label="No">No</md-radio-button>
            </md-radio-group>
        </div>
        -->

        <div ng-if="form.bus == 1">
        <div class="question">
            <div>Please chose the pickup location?</div>
            <md-radio-group ng-model="form.location">
                <md-radio-button value="NEW_PORT" aria-label="New port">Newport at 6:15 am</md-radio-button>
                <md-radio-button value="PENN_STATION" aria-label="Penn station">Penn station at 6:45 am</md-radio-button>
            </md-radio-group>
        </div>
        </div>

        <div class="question">
            <div>Do you need a beginner package, which will include beginner lift, rental and lesson? (${{data.lesson}})</div>
            <md-radio-group ng-model="form.lesson">
                <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                <md-radio-button value="0" aria-label="No">No</md-radio-button>
            </md-radio-group>
        </div>

        <div ng-if="form.lesson == 0">
        <div class="question">
            <div>Do you need a full area lift ticket? (${{data.lift}})</div>
            <md-radio-group ng-model="form.lift">
                <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                <md-radio-button value="0" aria-label="No">No</md-radio-button>
            </md-radio-group>
        </div>

        <div class="question">
            <div>Do you need Ski/Snowboad rental? (${{data.rental}})</div>
            <md-radio-group ng-model="form.rental">
                <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                <md-radio-button value="0" aria-label="No">No</md-radio-button>
            </md-radio-group>
        </div>
        </div>

        <div ng-if="form.lesson == 1 || form.rental == 1">
        <div class="question">
            <div>Do you ride ski or snownboard?</div>
            <md-radio-group ng-model="form.rental_type">
                <md-radio-button value="SKI" aria-label="SKI">Ski</md-radio-button>
                <md-radio-button value="SNOWBOARD" aria-label="SNOWBOARD">Snownboard</md-radio-button>
            </md-radio-group>
        </div>
        </div>

        <div class="total">
            Total: ${{data.total}}
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary checkout-btn" ng-if="data.ticket_left && !loading"
                ng-click="submit()">Checkout</md-button>
            <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
            <img ng-src="/static/images/soldout.png" ng-if="!data.ticket_left"/>
        </div>
    </md-card>
</div>
