<div ng-controller="PaymentCtrl">
    <md-toolbar md-scroll-shrink>
        <h2 class="md-toolbar-tools">
            <span>{{data.description}}</span>
        </h2>
    </md-toolbar>
    <md-card class="main-card">
        <form name="orderForm">
            <div class="ticket_left" ng-if="ticket_left<10">{{data.ticket_left}} bus tickets left</div>
            <div layout="row" layout="center center">
                <md-input-container>
                    <label>First Name</label>
                    <input name="firstName" ng-model="form.first_name">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input name="lastName" ng-model="form.last_name">
                </md-input-container>
            </div>
            <md-input-container>
                <label>Phone</label>
                <input name="phone" ng-model="form.phone">
            </md-input-container>

        <!--
        <div class="question">
            <div>Do you need a bus ride? (${{data.bus}})</div>
            <md-radio-group ng-model="form.bus">
                <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                <md-radio-button value="0" aria-label="No">No</md-radio-button>
            </md-radio-group>
        </div>
        -->

        <div ng-if="form.bus > 0">
            <div class="question">
                <div>Please choose the pickup location</div>
                <md-radio-group ng-model="form.location">
                    <md-radio-button value="PENN_STATION" aria-label="Penn station">Penn station at 7:30 a.m.</md-radio-button>
                    <md-radio-button value="NEW_PORT" aria-label="New port">Newport at 8:00 a.m.</md-radio-button>
                </md-radio-group>
            </div>
        </div>

        <div class="question">
            <div>
                Do you need a beginner package, which will include the beginner area lift, rental and lesson? (${{data.beginner}})<br>
                Helmet is not included but highly recommended
            </div>
            <md-radio-group ng-model="form.beginner">
                <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                <md-radio-button value="0" aria-label="No">No</md-radio-button>
            </md-radio-group>
        </div>

        <div ng-if="!(form.beginner > 0)">
            <div class="question">
                <div>Do you need a full area lift ticket? (${{data.lift}})</div>
                <md-radio-group ng-model="form.lift">
                    <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                    <md-radio-button value="0" aria-label="No">No</md-radio-button>
                </md-radio-group>
            </div>

            <div class="question">
                <div>Do you need Ski/Snowboad rental (helmet is not included)? (${{data.rental}})</div>
                <md-radio-group ng-model="form.rental">
                    <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                    <md-radio-button value="0" aria-label="No">No</md-radio-button>
                </md-radio-group>
            </div>
        </div>

        <div class="question">
            <div>Do you need a helmet? (${{data.helmet}})</div>
            <md-radio-group ng-model="form.helmet">
                <md-radio-button value="1" aria-label="Yes">Yes</md-radio-button>
                <md-radio-button value="0" aria-label="No">No</md-radio-button>
            </md-radio-group>
        </div>

        <div ng-if="form.beginner > 0 || form.rental > 0">
            <div class="question">
                <div>Do you ride ski or snownboard?</div>
                <md-radio-group ng-model="form.rental_type">
                    <md-radio-button value="SKI" aria-label="SKI">Ski</md-radio-button>
                    <md-radio-button value="SNOWBOARD" aria-label="SNOWBOARD">Snownboard</md-radio-button>
                </md-radio-group>
            </div>
        </div>

        <div>
            <md-checkbox style="display:inline-block;margin-right:0" ng-model="form.consent" aria-label="consent"></md-checkbox>
            <span>I have read and agree to the <a href="" ng-click="showConsent($event)">Liability Waiver</a>.</span>
        </div>

        <div class="total">Total: ${{data.total}}</div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary checkout-btn" ng-if="data.ticket_left && !loading"
                ng-click="submit()" analytics-on="click" analytics-event="Purchase">Checkout</md-button>
            <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
            <img ng-src="/static/images/soldout.png" ng-if="!data.ticket_left"/>
        </div>
    </form>
</md-card>
</div>
