<div ng-controller="TicketCtrl">
    <md-toolbar md-scroll-shrink>
        <h2 class="md-toolbar-tools">
        <span>{{data.description}}</span>
      </h2>
    </md-toolbar>
    <md-card class="main-card">
        <div layout="row" layout="center center">
            <md-text-float label="First Name" ng-model="form.first_name"></md-text-float>
            <md-text-float label="Last Name" ng-model="form.last_name"></md-text-float>
        </div>
        <md-text-float label="Email" ng-model="form.email" type="email"></md-text-float>
        <md-text-float label="Phone" ng-model="form.phone"></md-text-float>

        <div class="question">
            <div>How many full area lift tickets do you need? (${{data.lift}})</div>
            <select ng-model="form.lift">
                <option ng-repeat="n in range(4, 20)" value="{{n}}">{{n}}</option>
            </select>
        </div>

        <div class="question">
            <div>How many snowboard rentals do you need? (${{data.snowboard}})</div>
            <select ng-model="form.snowboard">
                <option ng-repeat="n in range(0, 20)" value="{{n}}">{{n}}</option>
            </select>
        </div>

        <div class="question">
            <div>How many ski rentals do you need? (${{data.ski}})</div>
            <select ng-model="form.ski">
                <option ng-repeat="n in range(0, 20)" value="{{n}}">{{n}}</option>
            </select>
        </div>

        <div class="total">
            Total: ${{data.total}}
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary checkout-btn" ng-if="!loading"
                ng-click="submit()">Checkout</md-button>
            <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-card>
</div>
