<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
</head>

<body>
  <table border="2">
    <tr>
      <th>Name</th>
      <th>Bus</th>
      <th>Location</th>
      <th>Beginner Package</th>
      <th>Lift</th>
      <th>Rental</th>
      <th>Total</th>
    </tr>
  {% for order in orders %}
    <tr>
      <td>{{order.first_name}} {{order.last_name}}</td>
      <td>{{order.bus}}</td>
      <td>{{order.location}}</td>
      <td>{{order.lesson}}</td>
      <td>{{order.lift}}</td>
      <td>{{order.rental}}</td>
      <td>{{order.total}}</td>
    </tr>
  {% endfor %}
  </table>
</body>

</html>
